{% extends 'base_shop.html' %}

    {% block content %}
          <div id="Pre_view">
          <div class="container_cake">
                {% for x in date %}
    <div class="cake_items">
        {% if x.image %}
        <div class="items_images">
    <img src="{{ x.image.url }}">
        </div>

        {% endif %}
        <div class="title">
            {{ x.title }}
        </div>
        <div class="price">
            {{ x.price }}
        </div>
        <div class="body">
            {{ x.body }}
        </div>
        <div class="but">
        <form action="{% url 'bases_des'%}" method="post">
            {% csrf_token %}
            <button type="submit" name="id" value="{{ x.id }}">Описание</button>
        </form>

        </div>
         </div>
        {% endfor %}
 </div>
     </div>
{% endblock %}